.u-center-text {
  text-align: center;
}

.u-margin-top-50 {
  margin-top: 5rem;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-padding-top {
  padding-top: 50rem;
}
